.o_map_picker_widget {

    .o_map_picker_frame_wrapper {
        .o_map_picker_iframe {
            width: 100%;
            height: 360px;
            display: block;
            border: none;
        }
    }
}